/* Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Roboto", sans-serif;
  background-color: #f3f3f3; /* bianco */
  color: white;
}

/* Contenitore principale dell'app */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Area contenuto */
.mainArea {
  flex: 1;
  padding: 24px;
  margin-top: 16px;
}

/* IMPORTANTISSIMO: nessun limite al root */
#root {
  margin: 0;
  padding: 0;
  max-width: none;
}
